<!DOCTYPE html>
@{
    var controller = (string)ViewContext.RouteData.Values["controller"];
    var currentClass = new Dictionary<string, object> { { "class", "ui-btn-active ui-state-persist" } };
    var nonCurrentClass = new Dictionary<string, object> { { "class", "" } };
    var id = (string)ViewContext.RouteData.Values["id"];
    ViewBag.Mobile = true;
}

<html>
<head>
    <title>tekt: @ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("/Resources/favicon.png")" />
    <link rel="stylesheet" href="//reset5.googlecode.com/hg/reset.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resources/shared.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resources/mobile.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Resources/mobile-theme/tekt.css")" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.2.0/jquery.pjax.min.js"></script>

    <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.js"></script>

    <script src="~/Resources/tekt.js"></script>

    @RenderSection("head", false)
</head>
<body>
    <div data-role="page" data-theme="a">
        <header data-role="header">
            <nav id="m-main-nav" data-role="navbar">
                <ul>
                    <li>@Html.ActionLink("news", "Index", "News", new RouteValueDictionary { { "mobile", "1" } }, controller == "News" ? currentClass : nonCurrentClass)</li>
                    <li>@Html.ActionLink("projects", "Index", "Projects", new RouteValueDictionary { { "mobile", "1" } }, controller == "Projects" && String.IsNullOrWhiteSpace(id) ? currentClass : nonCurrentClass)</li>
                </ul>
            </nav>
            @if(controller == "Projects")
            {
                <div data-role="collapsible" data-content-theme="a">
                    <h3>Projects</h3>
                    <ul id="m-project-nav" data-role="listview">
                        @foreach(var project in Tekt.Core.Data.TektData.Instance.GetProjectList())
                        {
                            <li>@Html.ActionLink(project.Title, "Details", "Projects", new RouteValueDictionary { { "id", project.Id }, { "mobile", "1" } }, null)</li>
                        }
                    </ul>
                </div>
            }
        </header>
        <div id="main" data-role="content">
            @RenderBody()
        </div>
        <footer data-role="footer">
            <ul id="m-external-nav" data-role="listview">
                <li><a href="https://www.facebook.com/tetksys" target="_blank">facebook</a></li>
                <li><a href="https://vimeo.com/tekt" target="_blank">vimeo</a></li>
                <li><a href="https://www.flickr.com/photos/t3kt/" target="_blank">flickr</a></li>
                <li><a href="https://github.com/t3kt" target="_blank">github</a></li>
            </ul>
        </footer>
        @Html.Partial("Analytics")
    </div>
</body>
</html>
